In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "Data/clean_data.csv"

data = pd.read_csv(path)
data.head()

,Unnamed: 0,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,6,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,7,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,9,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,11,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,12,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [3]:
data.drop(data.columns[[0]], axis=1, inplace=True)
data.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,bedrooms,beds,zip_lat,zip_lng,city_y,state_id,state_name,population,density,county_name
0,11825529,4.418841,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",3,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97831,-118.44761,Marina Del Rey,CA,California,21576.0,4091.9,Los Angeles
1,13971273,4.787492,Condominium,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Wheelchair...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,34.03939,-118.26645,Los Angeles,CA,California,18986.0,4285.4,Los Angeles
2,5385260,3.583519,House,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1.0,Real Bed,moderate,True,...,1.0,1.0,33.97661,-117.89970,Rowland Heights,CA,California,45406.0,1211.8,Los Angeles
3,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,True,...,2.0,2.0,33.86546,-118.39665,Hermosa Beach,CA,California,19506.0,5278.8,Los Angeles
4,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,True,...,1.0,1.0,33.83077,-118.38458,Redondo Beach,CA,California,35293.0,3804.3,Los Angeles

In [16]:
# GroupBy Host timestamp and City and and Property type 
host_listings= data[["id","host_since","city_y","property_type","log_price","review_scores_rating"]]
citydf=host_listings.dropna()
citydf

,id,host_since,city_y,property_type,log_price,review_scores_rating
0,11825529,2017-03-03,Marina Del Rey,Apartment,4.418841,97.0
1,13971273,2013-05-18,Los Angeles,Condominium,4.787492,93.0
2,5385260,2017-03-12,Rowland Heights,House,3.583519,90.0
3,17423675,2015-06-11,Hermosa Beach,House,5.010635,97.0
5,583490,2012-11-20,Long Beach,Apartment,4.955827,100.0
6,7264511,2016-01-11,Van Nuys,House,4.382027,98.0
7,3563677,2014-11-28,Los Angeles,Apartment,4.905275,99.0
8,17615783,2012-07-12,Van Nuys,House,4.007333,100.0
9,851978,2015-09-26,Los Angeles,Apartment,5.192957,95.0
11,8908966,2011-10-07,Venice,Apartment,5.220356,96.0
12,10994968,2011-04-01,Los Angeles,House,4.488636,99.0
15,12428036,2015-07-13,Los Angeles,Apartment,4.317488,92.0
16,4014942,2014-08-24,Los Angeles,Apartment,4.997212,95.0
17,11376382,2017-02-13,Marina Del Rey,Apartment,5.783825,80.0
19,9471893,2016-06-06,Venice,House,5.857933,93.0
21,16474211,2014-08-11,Los Angeles,Apartment,4.499810,100.0
22,20269518,2016-11-27,North Hollywood,Apartment,4.691348,100.0
23,19247305,2014-12-06,Los Angeles,Apartment,4.779123,89.0
24,11095719,2014-03-10,Los Angeles,Apartment,4.499810,100.0
27,15956956,2013-03-07,Los Angeles,Apartment,5.164786,100.0
28,6972777,2013-11-29,Monrovia,House,3.806662,80.0
29,18840866,2016-06-29,Burbank,Apartment,5.087596,84.0
30,20761244,2017-01-05,Culver City,Condominium,3.871201,92.0
31,3976798,2013-11-05,Los Angeles,House,5.560682,100.0
32,1008814,2012-04-25,Los Angeles,House,4.605170,100.0
33,10132073,2012-11-07,Studio City,Apartment,4.007333,99.0
34,14900814,2013-07-03,Los Angeles,House,6.171701,96.0
35,11593024,2014-02-08,Los Angeles,House,6.551080,99.0
37,8336708,2017-01-09,Rowland Heights,House,4.060443,100.0
38,25827,2010-07-30,Los Angeles,House,5.634790,90.0
...,...,...,...,...,...,...
22095,18055117,2012-11-29,Los Angeles,Apartment,5.129899,98.0
22096,16274951,2016-01-12,Los Angeles,Apartment,4.595120,96.0
22097,12191750,2011-10-05,Long Beach,House,5.192957,90.0
22098,6662905,2016-08-28,Los Angeles,House,4.077537,96.0
22099,15123831,2012-06-04,Los Angeles,Townhouse,4.779123,91.0
22100,16782117,2014-07-25,Los Angeles,Apartment,4.382027,100.0
22101,6044620,2016-03-16,Los Angeles,Apartment,4.787492,88.0
22102,20980071,2016-05-15,San Dimas,House,3.688879,96.0
22103,19744093,2015-09-05,Pasadena,Townhouse,4.653960,94.0
22106,7980191,2014-06-11,Los Angeles,House,4.442651,98.0
22107,6732541,2015-09-01,Studio City,House,5.075174,100.0
22108,15115733,2014-06-22,Gardena,House,4.007333,92.0
22110,11973518,2013-08-23,Venice,Apartment,5.703782,93.0
22112,1453049,2014-04-28,Los Angeles,Apartment,4.174387,92.0
22114,189787,2016-06-22,Los Angeles,Villa,6.907755,100.0
22115,9253750,2014-06-29,West Hollywood,House,4.779123,99.0
22116,20781985,2016-06-09,Los Angeles,House,4.605170,87.0
22117,15917355,2015-11-12,Los Angeles,House,5.587249,87.0
22118,9390900,2014-12-08,Altadena,House,4.605170,100.0
22120,7621698,2016-05-09,Northridge,Bed & Breakfast,4.595120,100.0
22122,4278067,2014-11-11,Los Angeles,House,4.859812,94.0
22123,9826494,2014-12-20,Pasadena,House,4.174387,98.0
22125,15042259,2013-06-29,Los Angeles,Apartment,4.477337,100.0
22127,8342838,2014-10-28,Los Angeles,Apartment,4.553877,88.0
22128,4615631,2015-11-10,Los Angeles,Condominium,4.276666,96.0
22129,18077717,2014-04-01,Santa Monica,Apartment,4.584967,90.0
22130,7935934,2013-07-01,West Hills,Villa,4.110874,80.0
22131,808802,2015-03-18,Los Angeles,House,4.248495,91.0
22132,13281809,2016-05-03,Hermosa Beach,Apartment,5.043425,93.0
22133,3534845,2012-11-26,Long Beach,Boat,4.852030,96.0

In [17]:
citydf2=citydf.groupby(["year"]).mean()
city_df2

NameError: name 'city_df' is not defined

In [5]:
#Place dates in the ascending order 
dates=host_listings.sort_values('host_since',ascending=True)
dates.dropna().head()

             id  host_since          city_y property_type
20338  20914641  2008-06-27     Culver City   Condominium
2197    2519442  2008-07-11         Burbank         House
19285  20993772  2008-07-31     Los Angeles     Apartment
4736    6431931  2008-08-30  Marina Del Rey     Apartment
14405  20709369  2008-09-17    Santa Monica     Apartment

In [6]:
#Creating new column year to track total # of years  
dates['year']=pd.DatetimeIndex(dates['host_since']).year
dates.head()

             id  host_since          city_y property_type    year
20338  20914641  2008-06-27     Culver City   Condominium  2008.0
2197    2519442  2008-07-11         Burbank         House  2008.0
19285  20993772  2008-07-31     Los Angeles     Apartment  2008.0
4736    6431931  2008-08-30  Marina Del Rey     Apartment  2008.0
14405  20709369  2008-09-17    Santa Monica     Apartment  2008.0

In [7]:
#Extracting year from the date to get the total # of listings per year 
dates['year'].fillna(0, inplace=True)
dates['year'] = dates['year'].astype(int)
dates.head()

             id  host_since          city_y property_type  year
20338  20914641  2008-06-27     Culver City   Condominium  2008
2197    2519442  2008-07-11         Burbank         House  2008
19285  20993772  2008-07-31     Los Angeles     Apartment  2008
4736    6431931  2008-08-30  Marina Del Rey     Apartment  2008
14405  20709369  2008-09-17    Santa Monica     Apartment  2008

In [10]:
dates.dropna()

             id  host_since            city_y property_type  year
20338  20914641  2008-06-27       Culver City   Condominium  2008
2197    2519442  2008-07-11           Burbank         House  2008
19285  20993772  2008-07-31       Los Angeles     Apartment  2008
4736    6431931  2008-08-30    Marina Del Rey     Apartment  2008
14405  20709369  2008-09-17      Santa Monica     Apartment  2008
11979  10225348  2008-09-23       Los Angeles         House  2008
5408   18841477  2008-09-25        Bellflower     Apartment  2008
3889    4235547  2008-09-25           Burbank         House  2008
6787    9012988  2008-10-02       Los Angeles         House  2008
402    12854724  2008-10-02       Los Angeles         House  2008
11021  19049166  2008-10-02       Los Angeles         House  2008
16030  16095512  2008-10-02    Canyon Country     Apartment  2008
7813    9921366  2008-10-16       Studio City         Other  2008
10042  18370840  2008-10-16       Studio City         House  2008
13676   2023454  2008-10-16       Studio City         House  2008
13717  13315699  2008-12-25    West Hollywood     Apartment  2008
4841   17684031  2009-01-16       Los Angeles         House  2009
9935    6967723  2009-01-16       Los Angeles         House  2009
20145  12855566  2009-01-16       Los Angeles         House  2009
15910  17811619  2009-01-16       Los Angeles         House  2009
20855  15208609  2009-01-16       Los Angeles         House  2009
16911  13643020  2009-02-12      Santa Monica     Apartment  2009
9133   13018742  2009-02-12       Los Angeles     Apartment  2009
19828  14267804  2009-02-12       Los Angeles         House  2009
12347  15803180  2009-03-05       Los Angeles         House  2009
11138   6437565  2009-03-05       Los Angeles         House  2009
12919  16548251  2009-03-05       Los Angeles         House  2009
16070  17403713  2009-03-05       Los Angeles         Cabin  2009
14031  16930512  2009-03-09    Marina Del Rey     Apartment  2009
2872   13622777  2009-03-17       Los Angeles         House  2009
...         ...         ...               ...           ...   ...
17392  15747712  2017-04-28        Long Beach         House  2017
12437  11360854  2017-04-29        Long Beach         House  2017
15306   2495047  2017-04-29    Woodland Hills     Apartment  2017
10734  16177970  2017-04-29       Los Angeles     Apartment  2017
7424    2830518  2017-04-29        Long Beach         House  2017
9652   16601797  2017-04-29       Los Angeles     Apartment  2017
21796   4434797  2017-04-29          Altadena         House  2017
946    16965094  2017-04-29       Los Angeles         House  2017
14282    856286  2017-04-29       Los Angeles          Loft  2017
17804   6700172  2017-04-29        Long Beach         House  2017
18058  13031854  2017-04-29    Marina Del Rey          Loft  2017
5363   14242888  2017-04-29         Inglewood   Condominium  2017
16618  14709106  2017-04-30       Los Angeles     Apartment  2017
4056    3971900  2017-04-30        Long Beach         House  2017
3112   13875227  2017-04-30          Van Nuys   Condominium  2017
1690   15973838  2017-04-30       Los Angeles     Apartment  2017
12842   3953554  2017-04-30     Beverly Hills         House  2017
19767   9664537  2017-04-30       North Hills         House  2017
20841   4614763  2017-05-01    West Hollywood     Apartment  2017
4986    4623622  2017-05-01       Los Angeles     Apartment  2017
4741    2545771  2017-05-01       Los Angeles     Apartment  2017
15840  11345911  2017-05-01       Los Angeles     Apartment  2017
22087   9822032  2017-05-01       Los Angeles     Apartment  2017
7765   11753760  2017-05-01            Malibu         House  2017
15674  12704399  2017-05-01  Hacienda Heights         House  2017
13128    201579  2017-05-01       Los Angeles     Apartment  2017
12259  15216399  2017-05-01       Los Angeles     Apartment  2017
14807  18853435  2017-05-01          Palmdale         House  2017
20590  19928373  2017-05-02       Los Angeles     Apartment  2017
21118  10996409  2017-05-02       Los Angeles     Apartment  2017

[22125 rows x 5 columns]

In [72]:
#Group by the year to get the total counts of hosts in that year
host_df=dates.groupby(["year"]).count()
host_df

        id  host_since  city_y  property_type
year
0        9           0       9              9
2008    16          16      16             16
2009   136         136     136            136
2010   413         413     413            413
2011  1261        1261    1261           1261
2012  2301        2301    2301           2301
2013  3159        3159    3159           3159
2014  4091        4091    4091           4091
2015  4996        4996    4996           4996
2016  4769        4769    4769           4769
2017   983         983     983            983

In [73]:
#Keeping only 5 years from 2011-2016 to show total # of listings overtime
host_df = host_df[4:10]
host_df

        id  host_since  city_y  property_type
year
2011  1261        1261    1261           1261
2012  2301        2301    2301           2301
2013  3159        3159    3159           3159
2014  4091        4091    4091           4091
2015  4996        4996    4996           4996
2016  4769        4769    4769           4769

In [68]:
host_df.to_csv("Data/host_df.csv")

In [4]:
type("host_since")

str